@page "/cambio"
@page "/cambio/{c}/{d}/{t}"
@inherits CambioPassBase

<RadzenTemplateForm @ref="PassForm" Data="@PassData" Submit="@((PassClase arg) => { PassF(arg); })">
    <RadzenFieldset Text="Indentificate" Style="width:80%">
        <div class="container-fluid">

            <div class="row" >
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Mail" />
                </div>
                <div class="col-md-8">
                    
                    <RadzenLabel>@PassData.Email</RadzenLabel>

                </div>
            </div>

            <div class="row" style="background: lightgray">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Nuevo Password" />
                </div>
                <div class="col-md-8">

                    <RadzenTextBox style="width: 90%;" Name="Pass" @bind-Value="PassData.Pass"
                                   Placeholder="Nuevo password" MaxLength="75" Change="CheckPass" />
                    <RadzenRequiredValidator Component="Pass" Text="Un Password es requerido" />

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Repetir Password" />
                </div>
                <div class="col-md-8">

                    <RadzenTextBox style="width: 90%;" Name="Confirm" @bind-Value="PassData.Confirm"
                                   Placeholder="Repite el password" MaxLength="75" Change="CheckPass" />
                    <RadzenRequiredValidator Component="Confirm" Text="Repetir el password es requerido" />

                </div>
            </div>

            <div class="row" style="background:gray">
                <div class="col-md-4 align-items-center d-flex">
                </div>
                <div class="col-md-8">
                    
                    @if (Msn == "Ok")
                    {
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success"
                                      Class="m-1" ButtonType="ButtonType.Submit" Disabled="BotonNuevo">
                            Cambiar
                        </RadzenButton>
                    }

                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Class="m-1"
                                  Click="Cancelar" />
                    <RadzenLabel Style="color: white">- @Msn - </RadzenLabel>


                </div>
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>

@code {

    private bool BotonNuevo = false;
    
    
    void Cancelar()
    {
        PassData = new();
    }
}

